<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Heavy Onion</title>
  </head>
  <!-- Navigation -->
    <div class="container">
        <nav class="navbar navbar-light bg-light">
		  <a class="navbar-brand" href="/#/">
			<img src="https://img1.wsimg.com/isteam/ip/856f1660-4bf8-4e94-91f8-b5951af276ce/logo/e6a8a9a7-adce-4c39-8be2-496dcf0bb3c5.jpg/:/rs=h:175" width="100%" height="100%" alt="">		  </a>
            <ul class="nav">
			  <li class="nav-item">
				<a class="nav-link active" href="/#/">Home</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link active" href="/#/shop">Pre - Order</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link active" href="/#/app">App Download</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link active" href="/#/contact">Contact Us</a>
				</li>
			  <li class="nav-item">
				<a class="nav-link disabled" href="/#/login/">Log In</a>
			  </li>
			</ul>
		
		</nav>
	</div>
    <!-- Page Content -->
    <div class="container">
	<hr>
      <center><h1>Point of reception Technology</h1>
	  <h4>(demonstrator unit only)</h4></center>
	  <img src="http://www.hireadeveloper.org/images/heavyonion_unit.jpg" width="100%">
	  <div class="jumbotron">
		  <h4 class="display-4">Get our in-home unit and app. Let fresh orders find you.</h1>
		  <p class="lead">Secure reception of perishables, restaurant orders, groceries, e-commerce and more. Unattended 24/7 convenience.
			Receive on your schedule, not the delivery drivers. Get a unit for the home , workplace, vehicle, camping, or big rig. To have orders find you.
			<br>
			<center><h3>Create delivery Jobs ~ Order early ~ in a time frame ~ Rendezvous ~ to receive your order.</center>
			<br><p class="lead">Subscribe to our client list to supply  over stock + excess food & follow us on social media! Farm to plate organics, Food waste reduction, donating link service for hotels & restaurant ~ To ~ locations list for homeless shelters, food banks, soup kitchens, meal centers and more.
			<h4 class="display-4">GET THE POR APP TO RENDEZVOUS WITH ORDERS!</h4>
			<ul>
			<li><p class="lead">Designed for 24/7 unattended secure pass-through in-home, work place, camping or vehicle reception</li>
			<li><p class="lead">In-home ~ office ~ camping or trucking  ~ work location, or group office solutions in our secure Point-of-reception technology. Our app makes missed deliveries obsolete. With a busy life every moment saved is a bonus. Saving time, fuel, money, and stress ~  With our client to user system service **Point-of-reception (POR) App**</li> 
			<li><p class="lead">The owners unit receives/when ordering to rendezvous up to 3 tries, then the order defaults to your unit + order directly to the unit if prefered. </li>

			<h3>JOIN THE EXCLUSIVE OWNERS LIST ~ BY ORDERING THE PRE-PRODUCTION YOUR OWN ~ POINT OF RECEPTION UNIT
			<hr>
			<h3>PRE-PRODUCTION NEWS + BUSINESS CLIENT SUBSCRIPTIONS
			<h5>Our test market trials are coming to a city near you, sign up for our news and notifications.
			</p>
		  <p class="lead">
			<a class="btn btn-primary btn-lg" href="#" role="button">Help Our Cause</a>
		  </p>
		</div>
		<br>
		<center><h2>Proud Partners</h2>
		<h1>Ask us how we can help recycle leftover resturant food </h3>
		<a class="btn btn-primary btn-lg" href="#" role="button">Stop Wasting</a>
		  </center>
		  <br>
		<img src="http://www.hireadeveloper.org/images/heavyonion2.png" width="100%">
	 
	 
		<footer class="page-footer font-small blue pt-4">
		<!-- Copyright -->
			<div class="footer-copyright text-center py-3">© 2018 Copyright:
			  <a href="https://heavyonion.com"> HeavyOnion.com</a>
			</div>
			<!-- Copyright -->
		</footer>
	 
	 
    </div>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>