<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Heavy Onion</title>
  </head>
  <!-- Navigation -->
    <div class="container">
        <nav class="navbar navbar-light bg-light">
		  <a class="navbar-brand" href="/#/">
			<img src="https://img1.wsimg.com/isteam/ip/856f1660-4bf8-4e94-91f8-b5951af276ce/logo/e6a8a9a7-adce-4c39-8be2-496dcf0bb3c5.jpg/:/rs=h:175" width="100%" height="100%" alt="">		  </a>
            <ul class="nav">
			  <li class="nav-item">
				<a class="nav-link active" href="/#/">Home</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link active" href="/#/shop">Pre - Order</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link active" href="/#/about">About</a>
				</li>
			  <li class="nav-item">
				<a class="nav-link active" href="/#/contact">Contact Us</a>
				</li>
			  <li class="nav-item">
				<a class="nav-link disabled" href="/#/login/">Log In</a>
			  </li>
			</ul>
		
		</nav>
	</div>
</head>
<body>
    <!-- Page Content -->
    <div class="container">
	<hr>
	<div class="card text-center">
	  <div class="card-header">
		Our POR app: 
	  </div>
	  <div class="card-body">
		<h5 class="card-title">Helps securely deliver 24/7 grocery, restaurant orders, medicine & more local or far.</h5>
		<p class="card-text">Up to 3 tries for delivery through our app then order defaults to your home PORT {Point of reception technology} unit. Securely tracked, so you get that item or order.</p>
		<a href="#" class="btn btn-primary">Download</a>
	  </div>
	  <div class="card-footer text-muted">
		UNIT PRE-PRODUTION ORDER LIST
	  </div>
		<br>
		<h5 class="card-title">Secure orders find you 24/7, get on our list. Subscribed clients = increased sales+confirmed orders!
		<h5 class="card-title">Sales increase with catering clients using POR app ~ International food orders soon common practice with extremely large orders, thanks to new temperature control logistics manufacturing & products. 

	</div>
	<br>
      <center><h4 class="display-4">Short time for lunch @ park close by?
	  <h5 class="card-title">Order to rendezvous, eat in the park~by statue/Set time frame~
	  <h4>Order meals to rendezvous in the park or grocery shopping on a break. Receive secure, unattended deliveries at home ~ when you arrive. Wake up to restaurant orders with the secure pass-through unit ~ When camping ~ Or, in receive @ your big rig ordered while approaching. Truck driver destinations on the road, or securely @ your home. 
		</center>
	<center><h4 class="display-4">GET THE APP

			<h5 class="card-title">Instead of going to the food ~ Make our secure system orders Find You ! ~
			<h4>Seeking sponsors for mutually benefitial ongoing working relations ~ Scale with our growth ~ supply rendezvous order customers population locally and long distance via logistics partners. Launched in beta tests, prior to unit manufacturing. Quotes being taken to affordably mass produce  units, this lowers end purchase price for buyer/owners.

	<center><h4 class="display-4">The BIG news
			<h5 class="card-title">We are in development for our app to offer the box ~  product, called the Point of Reception Technology. Home, workplace or vehicle. Final destination for restaurant orders, groceries, cold case packed ~perishables, packages and more from clients to our clients stores, offering their products or menu items on our system/platform, through our App. 
			<h5 class="card-title">Organic farm to app user interface buy/sell page is being added to the platform + Food waste reduction and donation page for hotels to homeless users. 
			<h5 class="card-title">Restaurant over production = a direct connection to supply homeless shelters, and app users in need, on our platform. 
			<h5 class="card-title">The food chain monopoly needs fixing, we intend to improve it ! 

			<center><h5 class="display-4">The goal is no more missed deliveries, convenience in secure reception on your schedule, not waiting for the delivery to show up. 
			<h5 class="card-title">The legal form for pre-production secure unit orders is in legal preparation. Please send email contact information for our future client list to info@heavyonion.com ~ Thank you !
					<h5 class="card-title">With our competitive advantage to clients competing to meet your needs and satisfaction. Basic need items and small orders from local Mom and Pop shops will increase through Point of reception technology.  </p>
	<center><h1>SUBSCRIBE TO OUR BUSINESS CLIENT SHOPPING LIST
			<h5 class="card-title">No more missed deliveries! Our client subscribers join a list, fill out Q&A, get updates and offers
			<h5 class="card-title">No waiting for a delivery  or fetching it after missing the return attempts. Now order in a time frame  and it's there when you arrive. Get breakfast delivered early. Secure delivery with our 

			Point of reception technology. Order that must have pharmacy item and receive it

			 ~ on your schedule ~

			Grocery shopping online orders can only improve.

				<footer class="page-footer font-small blue pt-4">
	<!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://heavyonion.com"> HeavyOnion.com</a>
    </div>
    <!-- Copyright -->
	</footer>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>