<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Heavy Onion</title>
  </head>
  <!-- Navigation -->
    <div class="container">
        <nav class="navbar navbar-light bg-light">
		  <a class="navbar-brand" href="/#/">
					<img src="https://img1.wsimg.com/isteam/ip/856f1660-4bf8-4e94-91f8-b5951af276ce/logo/e6a8a9a7-adce-4c39-8be2-496dcf0bb3c5.jpg/:/rs=h:175" width="100%" height="100%" alt=""> </a>
            <ul class="nav">
			  <li class="nav-item">
				<a class="nav-link active" href="/#/">Home</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link active" href="/#/shop">Pre - Order</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link active" href="/#/app">App Download</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link active" href="/#/about">About</a>
				</li>
			  <li class="nav-item">
				<a class="nav-link disabled" href="/#/login/">Log In</a>
			  </li>
			</ul>
		
		</nav>
	</div>
    <!-- Page Content -->
    <div class="container">
	<hr>
      <center><h1>CONTACT US</h2>
	  <h4>(714) 442-9940 voicemail only</h4></center>
	  <form>
  <div class="form-group"><label for="name">Name</label>
    <input type="name" class="form-control" id="name" placeholder="Name">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="exampleFormControlInput1" class="form-control" id="exampleFormControlInput1" placeholder="Email Address">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Comments :</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
<div class="jumbotron">
  <h3 class="display-4">To become a part of Heavy Onion Inc.,</h1>
  <p class="lead">Trequest our information package.</p>
  <hr class="my-4">
<p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">HeavyOnion.com</a>
  </p>
</div>
<div class="card">
  <div class="card-header">
    Hours
  </div>
  <div class="card-body">
    <h5 class="card-title">
	By appointment only</h5>
    <p class="card-text">BUY SELL FARM & GARDEN ORGANIC CROPS+REDUCE FOOD WASTE</p>
  </div>
</div>
	<footer class="page-footer font-small blue pt-4">
	<!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://heavyonion.com"> HeavyOnion.com</a>
    </div>
    <!-- Copyright -->
	</footer>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>