<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Heavy Onion</title>
  </head>
  <!-- Navigation -->
    <div class="container">
        <nav class="navbar navbar-light bg-light">
		  <a class="navbar-brand" href="/#/">
			<img src="https://img1.wsimg.com/isteam/ip/856f1660-4bf8-4e94-91f8-b5951af276ce/logo/e6a8a9a7-adce-4c39-8be2-496dcf0bb3c5.jpg/:/rs=h:175" width="100%" height="100%" alt="">
		  </a>
            <ul class="nav">
			  <li class="nav-item">
				<a class="nav-link active" href="/#/shop">Pre - Order</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link active" href="/#/app">App Download</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link active" href="/#/about">About</a>
				</li>
			  <li class="nav-item">
				<a class="nav-link active" href="/#/contact">Contact Us</a>
				</li>
			  <li class="nav-item">
				<a class="nav-link disabled" href="/#/login/">Log In</a>
			  </li>
			</ul>
		
		</nav>
	</div>
    <!-- Page Content -->
    <div class="container">
	<center><h1 class="display-1">Heavy Onion</h1>
		  
	<hr>
      <center><h3 class="display-4">Point of reception Technology</h1></center>
	  <img src="http://www.hireadeveloper.org/images/slim_unit_heavyonion.jpg" width="100%">
	  <div class="jumbotron">
		  <h2 class="display-4">Get our in-home unit and app. Let fresh orders find you.</h1>
		  <p class="lead">Your support and contributions will enable us to meet our goals and improve conditions. Your generous donation will fund our mission.</p>
		  <hr class="my-4">
		  <p>Thank you</p>
		  <p class="lead">
			<a class="btn btn-primary btn-lg" href="#" role="button">Help Our Cause</a>
		  </p>
		</div>
		<br>
		<center><h1>Ask us how we can help recycle leftover resturant food </h3>
		<a class="btn btn-primary btn-lg" href="#" role="button">Stop Wasting</a>
		  </center>
		  <br>
		<img src="http://www.hireadeveloper.org/images/heavyonion2.png" width="100%">
	 </center>
	 <div class="jumbotron">
  <h3 class="display-4">Busy life ? Make your order finds you</h1>
  <p class="lead"><b>Till now: lines and deliveries where a waiting game. Order in a time frame get it where you are~or going to be !</b> <br> <i>rendezvousˈrɒndɪvuː,ˈrɒndeɪvuː/noun</i>
	<br><br>
	1. a meeting at an agreed time and place."Edward turned up late for their rendezvous"synonyms:meeting, appointment, engagement, assignation; More
	verb
	<br><br>
	1. meet at an agreed time and place."I rendezvoused with Bea as planned"synonyms:meet, come together, get together, gather, assemble"at seven o'clock she reached the wine bar where they had agreed to rendezvous"
	Now businesses can deliver on their own with our app. This saves money, time and fuel. Join our client list. 
	</p>
  <hr class="my-4">
  <p>
	<h3>Why use our app?</h3>
	<p>Our system allows Mom and Pop shops & restaurants to compete with larger retailers by expanding  range of  customers from local deliveries to long distance, or global  using our cold case  and POR units .
	<br>
    <a class="btn btn-primary btn-lg" href="#" role="button">PLEASE DONATE</a>
	<hr>
	<h3>A new convience for the busy life</h3>
	<p>Saving time, money and errands ~ Let groceries, restaurant orders, packages+ arrive before you do!
	</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">GET THE APP</a>
  </p>
</div>
	  
	 
	 
		<footer class="page-footer font-small blue pt-4">
		<!-- Copyright -->
			<div class="footer-copyright text-center py-3">© 2018 Copyright:
			  <a href="https://heavyonion.com"> HeavyOnion.com</a>
			</div>
			<!-- Copyright -->
		</footer>
	 
	 
    </div>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>