<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Heavy Onion</title>
  </head>
  <!-- Navigation -->
    <div class="container">
        <nav class="navbar navbar-light bg-light">
		  <a class="navbar-brand" href="/#/">
			<img src="https://img1.wsimg.com/isteam/ip/856f1660-4bf8-4e94-91f8-b5951af276ce/logo/e6a8a9a7-adce-4c39-8be2-496dcf0bb3c5.jpg/:/rs=h:175" width="100%" height="100%" alt="">		  </a>
            <ul class="nav">
			  <li class="nav-item">
				<a class="nav-link active" href="/#/">Home</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link active" href="/#/app">App Download</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link active" href="/#/about">About</a>
				</li>
			  <li class="nav-item">
				<a class="nav-link active" href="/#/contact">Contact Us</a>
				</li>
			  <li class="nav-item">
				<a class="nav-link disabled" href="/#/login/">Log In</a>
			  </li>
			</ul>
		
		</nav>
	</div>
    <!-- Page Content -->
    <div class="container">
	<div class="jumbotron">
	  <h1 class="display-4">Get our in-home unit and app.</h1>
	  <h2 class="display-4">Let fresh orders find you.</h2>
	  <img src="http://www.hireadeveloper.org/images/heavyonion_unit.jpg" style="float:left; padding-right:4px; padding-bottom:1px;" width="150px"/>
	  <h4>This prototype is the Pre-production order price only to guarantee a place on our list of first to own. Financing available to secure a unit . Install the Port (Point of reception technology) unit in your home, office,or vehicle to receive as the final or default for orders destination. The App lets you receive groceries or restaurant orders where ever you go, up to 3 times, then defaults to your unit with order location updates through the app. Laws of production lower the price with mass numbers of units produced in a single run. Our goal for first run is 100,000 units  to bring the MFG. Price down over time with more production. Thanks for your help in making this possible.</h4>
	  <p class="lead">Fill out this form below to place an order for a unit.</p>
	  <hr class="my-4">
	  <form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
	<label for="mailingAddress">Mailing aaddress</label>
    <input type="mailingAddress" class="form-control" id="mailingAddress" placeholder="Street Address">
	<label for="mailingAddress">City</label>
    <input type="city" class="form-control" id="city" placeholder="City">
	<label for="city">State</label>
    <input type="state" class="form-control" id="state" placeholder="State">
	<label for="zip">Zip</label>
    <input type="zip" class="form-control" id="zip" placeholder="Zip">
  
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">How many units do you want to pre - order?</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <!--<div class="form-group">
    <label for="exampleFormControlSelect2">Example multiple select</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>-->
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Comments :</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
	  <p class="lead">
		<a class="btn btn-primary btn-lg" href="#" role="button">Submit</a>
	  </p>
	</div>
    <!-- /.container -->
	<footer class="page-footer font-small blue pt-4">
	<!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://heavyonion.com"> HeavyOnion.com</a>
    </div>
    <!-- Copyright -->
	</footer>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>